
    <aside class="personal-info">

        <!--                        MENU-->
        <div class="toggle-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <figure class="personal-img m-0">
            <img src="assets/img/example.jpg" alt="me"/>
            <div class="hover">
                <h1>Dusan Ivanovic</h1>
                <h4>Front End Developer</h4>
            </div>
        </figure>
        <div class="personal-info-text">
            <section class="about-me">
                <div class="row">
                    <div class="col-3">
                        <article class="text-center">
                            <span class="far fa-user"></span>
                        </article>
                    </div>
                    <div class="col-9">
                        <article class="text-justify">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labor et dolore magna aliqua.
                                Ut enim ad minim veniamnt in culpa quie officia deserunt mollit.
                            </p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="phone">
                <div class="row">
                    <div class="col-3">
                        <article class="text-center">
                            <span class="fa fa-phone" data-fa-transform="rotate-180"></span>
                        </article>
                    </div>
                    <div class="col-9">
                        <article>
                            <p class="lead">(880) 1737-662662</p>
                            <p class="pale mb-4">Personal</p>
                            <p class="lead">(880) 1737-662662</p>
                            <p class="pale">Work</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="email">
                <div class="row">
                    <div class="col-3">
                        <article class="text-center">
                            <span class="fa fa-envelope"></span>
                        </article>
                    </div>
                    <div class="col-9">
                        <article>
                            <p class="lead"><a href="mailto:dusanivanovic@mail.com">dusanivanovic@mail.com</a></p>
                            <p class="pale mb-4">Personal</p>
                            <p class="lead"><a href="mailto:dusanivanovic@mail.com">dusanivanovic@mail.com</a></p>
                            <p class="pale">Work</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="address">
                <div class="row">
                    <div class="col-3">
                        <article class="text-center">
                            <span class="fa fa-map"></span>
                        </article>
                    </div>
                    <div class="col-9">
                        <article>
                            <address>
                                24 Golden Tower <sup class="pale">(2nd floor)</sup><br>
                                Amberkhana, Sylhet
                            </address>
                            <p class="pale">SYL-3RF87W</p>
                        </article>
                    </div>
                </div>
            </section>
            <section class="skills">
                <div class="row">
                    <div class="col-3">
                        <article class="text-center">
                            <span class="fa fa-tasks "></span>
                        </article>
                    </div>
                    <div class="col-9">
                        <article>
                            <h2>Professional Skills</h2>
                            <div class="skill" data-progress='85'>
                                <h4>Adobe Photoshop</h4>
                                    <div class="bar">
                                        <div class="bar-progress">
                                            <span class="dot"></span>
                                        </div>
                                </div>
                            </div>
                            <div class="skill" data-progress='70'>
                                <h4>Adobe Illustrator</h4>
                                    <div class="bar">
                                        <div class="bar-progress">
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                            </div>
                            <div class="skill" data-progress='77'>
                                <h4>HTML5 &amp; CSS3</h4>
                                    <div class="bar">
                                        <div class="bar-progress">
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                            </div>
                            <div class="skill" data-progress='69'>
                                <h4>JavaScript</h4>
                                    <div class="bar">
                                        <div class="bar-progress">
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
          </div>
    </aside>
